<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.easycodebox.auth.core.dao.user.GroupMapper">
	
	<select id="load" resultType="Group">
		SELECT g.*, pa.name AS parentName
		FROM u_group g 
		LEFT JOIN u_group pa ON g.parentId = pa.id
		WHERE g.deleted = %{YesNo.NO} AND g.id = #{id}
	</select>
	
	<sql id="pageSql">
		FROM u_group g 
		LEFT JOIN u_group pa ON g.parentId = pa.id
		WHERE g.deleted = %{YesNo.NO}
		<if test="parentName != null">
			AND pa.name LIKE CONCAT('%',#{parentName},'%')
		</if>
		<if test="groupName != null">
			AND g.name LIKE CONCAT('%',#{groupName},'%')
		</if>
		<if test="status != null">
			AND g.status = #{status}
		</if>
	</sql>
	<select id="page" resultType="Group">
		SELECT g.id, g.parentId, g.name, g.sort, g.status, 
		g.creator, g.createTime, pa.name AS parentName
		<include refid="pageSql"/>
		ORDER BY g.sort DESC, g.createTime DESC
		<include refid="easycode-common.limtSql"/>
	</select>
	<select id="pageTotalCount" resultType="long">
		SELECT count(1) <include refid="pageSql"/>
	</select>
	
</mapper>

