[#include "/WEB-INF/common/core.ftl"/]
<!DOCTYPE HTML>
<html>
<head>
[#include "/WEB-INF/common/meta.html"/]
<title>EasyCode | 用户组</title>
[#include "/WEB-INF/common/styles.html"/]
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	[#include "/WEB-INF/common/header.html"/]
	
	[#include "/WEB-INF/common/left.html"/]
	
	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				用户组 <small>用户组</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Tables</a></li>
				<li class="active">Simple</li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					
					<div class="control">
						<form action="/group/list.html" method="post">
							<ul class="search">
								
								<li class="param-li">
									上级组织：<input type="text" name="parentName" value="${group.parentName}" />
								</li>
								
								<li class="param-li">
									组名：<input type="text" name="name" value="${group.name}" />
								</li>
								
								<li class="param-li">
									状态：[@e.radioEnum name="status" enumName="CloseStatus" 
											selectedValue=group.status exclude="DELETE" /]
								</li>
								
								[#-- 查询按钮 --]
								<li class="search-btns">
		                        	<button type="submit" class="common-submit btn blue-btn">查询</button>
		                        	<button type="reset" class="reset-btn btn blue-btn">清空</button>
								</li>
		                        
								[#-- 功能按钮区域 --]
								<li class="handle-btns">
									[@permited value="group/add"]
		                        		<button type="button" id="addBtn" class="btn">+ 新增</button>
		                        	[/@permited]
		                        	[@permited value="group/remove"]
		                        		<button type="button" class="btn" onclick="gb.batchRemove('/group/remove.html')">删除</button>
		                        	[/@permited]
		                        	[@permited value="group/openClose"]
			                        	<button type="button" class="handler open batch btn">启用</button>
										<button type="button" class="handler close batch btn">禁用</button>
									[/@permited]
								</li>
							</ul>
						</form>	
					</div>
					
					[#-- 列表信息区域 --]
					<div class="data-div">
						<table class="ui-table">
							<tr class="th-row">
								<th width="30" checkbox="true"></th>
								<th width="40" row-no="true">序号</th>
								<th width="100">上级组织</th>
								<th width="100">组名</th>
								<th width="40">排序值</th>
								<th width="80" fixed="true" no-tip="true">启动/禁用</th>
								<th width="100">创建人</th>
								<th width="100">创建时间</th>
								<th width="150" fixed="true" no-tip="true">操作</th>
							</tr>
							
							[#list dataPage.data as obj]
								[#-- trid 方便快速选择某行 --]
								<tr trid="${obj.id}">
									<td><input type="checkbox" name="ids" value="${obj.id}" /></td>
									<td>${obj_index + 1}</td>
									<td>${obj.parentName}</td>
									<td>${obj.name}</td>
									<td>${obj.sort}</td>
									<td>
										[#if obj.status.className == "OPEN"]
											<div class="handler close yes status" />
										[#elseif obj.status.className == "CLOSE"]
											<div class="handler open no status" />
										[/#if]
									</td>
									<td>[@e.convertId cid=obj.creator prop="realname || nickname" /]</td>
									<td>${obj.createTime?datetime}</td>
									<td>
										[@permited value="group/load"]
											<a class="loadBtn icon-btn icon-detail" data-id="${obj.id}" title="详情" href="javascript:" > </a>
										[/@permited]
										[@permited value="group/update"]
											<a class="updBtn icon-btn icon-edit" data-id="${obj.id}" title="修改" href="javascript:" > </a>
										[/@permited]
										[@permited value="group/remove"]
											<a class="icon-btn icon-del" href="javascript:gb.remove('/group/remove.html', '${obj.id}');" title="删除" > </a>
										[/@permited]
										[@permited value="role/cfgByGroupId"]
											<a class="cfgRolesBtn icon-btn icon-cfg" data-id="${obj.id}" title="配置角色" href="javascript:" > </a>
										[/@permited]
									</td>
								</tr>
							[/#list]
							
						</table>
					</div>
						
					[#-- 分页区域 --]
					<div class="page">
						[@e.page pageNo=dataPage.pageNo totalPage=dataPage.totalPage
								url="/group/list.html" showPageNum="5" cssClass="pagnation" /]
					</div>
					
				</div>
			</div>
		</section>
	</div>
	
	[#include "/WEB-INF/common/footer.html"/]
	
	[#include "/WEB-INF/common/control-sidebar.html"/]
	
	<!-- 模板页 -->
	<div id="tmpls">
		[#include "/WEB-INF/pages/user/group_load.html"/]
		
		<!-- 新增 -->
		<form id="addDialog" class="form-validate hidden" action="/group/add.json" data-suc="新增组织成功" data-fail="新增组织失败">
			<table class="table-edit">
				
				<tr>
					<th>
						<label>上级组织：</label>
					</th>
					<td>
						<div class="tree-tip-wrap">
							<input type="text" class="parentName" v-model="group.parentName" validator="gb.parentValidator" validator-on="change" readonly />
							<input type="hidden" class="parentId" name="parentId" v-model="group.parentId" readonly />
							<div class="tree-tip-div">
								<ul class="ztree tree-tip"></ul>
							</div>
						</div>
					</td>
					<th>
						<label class="required">组名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="group.name" validator="maxlength[32],required,gb.existName" maxlength="32" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="group.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
					<th>
						<label class="required">状态：</label>
					</th>
					<td>
						[@e.radioEnum name="status" enumName="CloseStatus" exclude="DELETE" 
								tagAttr='{
									last: "validator=\'minlength[1],required\' validator-msg=\'请选择状态\'",
									all: "v-model=\'group.status.className\'"
								}'/]
					</td>
				</tr>
			</table>
		</form>
		
		<!-- 修改 -->
		<form id="updDialog" class="form-validate hidden" action="/group/update.json" data-suc="更新组织成功" data-fail="更新组织失败">
				
			<input type="hidden" name="id" v-model="group.id"/>
			
			<table class="table-edit">
				<tr>
					<th>
						<label>上级组织：</label>
					</th>
					<td>
						<div class="tree-tip-wrap">
							<input type="text" class="parentName" v-model="group.parentName" validator="gb.parentValidator" validator-on="change" readonly />
							<input type="hidden" class="parentId" name="parentId" v-model="group.parentId" readonly />
							<div class="tree-tip-div">
								<ul class="ztree tree-tip"></ul>
							</div>
						</div>
					</td>
					<th>
						<label class="required">组名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="group.name" validator="maxlength[32],required,gb.existName" maxlength="32" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="group.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
	
[#include "/WEB-INF/common/scripts.html"/]
[@e.script src="/js/??user/group.js" /]
</body>
</html>