[#include "/WEB-INF/common/core.ftl"/]
<!DOCTYPE HTML>
<html>
<head>
[#include "/WEB-INF/common/meta.html"/]
<title>权限</title>
[#include "/WEB-INF/common/styles.html"/]
</head>
<body>

	[#-- 头部区域  --]
	[#include "/WEB-INF/common/header.html"/]
	
	<div id="main">
		
		[#-- 左侧菜单区域  --]
		[#include "/WEB-INF/common/left.html"/]
		
		<div id="conent">
			
			[#-- 页面标题  --]
			<h2>权限</h2>
			
			<div id="core-div">
				
				[#-- 查询区域 --]
				<div class="control">
					<form action="/operation/list.html" method="post">
						<ul class="search">
							
							<li class="param-li">
								上级权限：<input type="text" name="parentName" value="${operation.parentName}" />
							</li>
							
							<li class="param-li">
								项目名：<input type="text" name="projectName" value="${operation.projectName}" />
							</li>
							
							<li class="param-li">
								权限名：<input type="text" name="name" value="${operation.name}" />
							</li>
							
							<li class="param-li">
								状态：[@e.radioEnum name="status" enumName="CloseStatus" 
										selectedValue=operation.status exclude="DELETE" /]
							</li>
							
							<li class="param-li">
								菜单：[@e.radioEnum name="isMenu" enumName="YesNo" 
										selectedValue=operation.isMenu /]
							</li>
							
							<li class="param-li">
								地址：<input type="text" name="url" value="${operation.url}" />
							</li>
							
							[#-- 查询按钮 --]
							<li class="search-btns">
	                        	<button type="submit" class="common-submit btn blue-btn">查询</button>
	                        	<button type="reset" class="reset-btn btn blue-btn">清空</button>
							</li>
	                        
							[#-- 功能按钮区域 --]
							<li class="handle-btns">
								[@permited value="operation/add"]
	                        		<button type="button" id="addBtn" class="btn">+ 新增</button>
	                        	[/@permited]
	                        	[@permited value="operation/remove"]
	                        		<button type="button" class="btn" onclick="gb.batchRemove('/operation/remove.html')">删除</button>
	                        	[/@permited]
	                        	[@permited value="operation/openClose"]
	                        		<button type="button" class="handler open batch btn">启用</button>
									<button type="button" class="handler close batch btn">禁用</button>
								[/@permited]
	                        	[@permited value="operation/imports"]
									<button type="button" class="btn" id="importsOper">导入</button>
								[/@permited]
	                        	[@permited value="operation/exports"]
									<button type="button" class="btn" id="exportsOper">导出</button>
								[/@permited]
							</li>
						</ul>
					</form>	
				</div>
				
				[#-- 列表信息区域 --]
				<div class="data-div">
					<table class="ui-table">
						<tr class="th-row">
							<th width="30" checkbox="true"></th>
							<th width="40" row-no="true">序号</th>
							<th width="100">上级权限</th>
							<th width="100">项目ID</th>
							<th width="100" check-row="true">权限名</th>
							<th width="80" fixed="true" no-tip="true">启动/禁用</th>
							<th width="80" fixed="true" no-tip="true">菜单</th>
							<th width="60">图标</th>
							<th width="100">地址</th>
							<th width="40">排序值</th>
							<th width="100">创建人</th>
							<th width="100">创建时间</th>
							<th width="130" fixed="true" no-tip="true">操作</th>
						</tr>
						
						[#list dataPage.data as obj]
							[#-- trid 方便快速选择某行 --]
							<tr trid="${obj.id}">
								<td><input type="checkbox" name="ids" value="${obj.id}" /></td>
								<td>${obj_index + 1}</td>
								<td>${obj.parentName}</td>
								<td>${obj.projectName}</td>
								<td>${obj.name}</td>
								<td>
									[#if obj.status.className == "OPEN"]
										<div class="handler close yes status" />
									[#elseif obj.status.className == "CLOSE"]
										<div class="handler open no status" />
									[/#if]
								</td>
								<td>
									[#if obj.isMenu.className == "YES"]
										<div class="handlerIsMenu close yes isMenu" />
									[#elseif obj.isMenu.className == "NO"]
										<div class="handlerIsMenu open no isMenu" />
									[/#if]
								</td>
								<td>${obj.icon}</td>
								<td>${obj.url}</td>
								<td>${obj.sort}</td>
								<td>[@e.convertId cid=obj.creator prop="realname || nickname" /]</td>
								<td>${obj.createTime?datetime}</td>
								<td>
									[@permited value="operation/load"]
										<a class="loadBtn icon-btn icon-detail" data-id="${obj.id}" title="详情" href="javascript:" > </a>
									[/@permited]
									[@permited value="operation/update"]
										<a class="updBtn icon-btn icon-edit" data-id="${obj.id}" title="修改" href="javascript:" > </a>
									[/@permited]
									[@permited value="operation/remove"]
										<a class="icon-btn icon-del" href="javascript:gb.remove('/operation/remove.html', '${obj.id}');" title="删除" > </a>
									[/@permited]
								</td>
							</tr>
						[/#list]
						
					</table>
				</div>
			</div>
			[#-- 分页区域 --]
			<div class="page">
				[@e.page pageNo=dataPage.pageNo totalPage=dataPage.totalPage
						url="/operation/list.html" showPageNum="5" cssClass="pagnation" /]
			</div>
			[#-- 底部区域 --]
			[#include "/WEB-INF/common/footer.html"/]
		</div>
		
	</div>
	
	<!-- 模板页 -->
	<div id="tmpls">
		[#include "/WEB-INF/pages/user/operation_load.html"/]
		
		<!-- 新增 -->
		<form id="addDialog" class="form-validate hidden" action="/operation/add.json" data-suc="新增权限成功" data-fail="新增权限失败">
			<table class="table-edit">
				
				<tr>
					<th>
						<label class="required">项目：</label>
					</th>
					<td>
						<select class="projectId" name="projectId" v-model="operation.projectId" validator="min[1],required" validator-msg="请选择项目类型">
							<option value="">--请选择项目--</option>
							<option v-for="pro in projects" :value="pro.id">{{pro.name}}</option>
						</select>
					</td>
					<th>
						<label>上级权限：</label>
					</th>
					<td>
						<div class="tree-tip-wrap">
							<input type="text" class="parentName" v-model="operation.parentName" validator="gb.operationValidator,valempty" validator-on="gb.operationValidateTime" readonly />
							<input type="hidden" class="parentId" name="parentId" v-model="operation.parentId" readonly />
							<div class="tree-tip-div">
								<ul class="ztree tree-tip"></ul>
							</div>
						</div>
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">权限名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="operation.name" validator="maxlength[128],required" maxlength="128" />
					</td>
					<th>
						<label class="required">状态：</label>
					</th>
					<td>
						[@e.radioEnum name="status" enumName="CloseStatus" exclude="DELETE" 
								tagAttr='{
									last: "validator=\'minlength[1],required\' validator-msg=\'请选择状态\'",
									all: "v-model=\'operation.status.className\'"
								}'/]
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">菜单：</label>
					</th>
					<td>
						[@e.radioEnum name="isMenu" enumName="YesNo"
								tagAttr='{
									last: "validator=\'minlength[1],required\' validator-msg=\'请选择是否为菜单\'",
									all: "v-model=\'operation.isMenu.className\'"
								}'/]
					</td>
					<th>
						<label>地址：</label>
					</th>
					<td>
						<input type="text" name="url" v-model="operation.url" validator="maxlength[128],gb.existUrl" maxlength="128" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="operation.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
					<th>
						<label>图标 ：</label>
					</th>
					<td>
						<input type="text" name="icon" v-model="operation.icon" validator="maxlength[128]" maxlength="128" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label>描述：</label>
					</th>
					<td colspan="3">
						<textarea name="description" v-model="operation.description" validator="maxlength[512]" maxlength="512"> </textarea>
					</td>
				</tr>
				
				<tr>
					<th>
						<label>备注：</label>
					</th>
					<td colspan="3">
						<textarea name="remark" v-model="operation.remark" validator="maxlength[512]" maxlength="512"> </textarea>
					</td>
				</tr>
			</table>
		</form>
		
		<!-- 修改 -->
		<form id="updDialog" class="form-validate hidden" action="/operation/update.json" data-suc="更新权限成功" data-fail="更新权限失败">
		
			<input type="hidden" name="id" v-model="operation.id" />
			
			<table class="table-edit">
				<tr>
					<th>
						<label class="required">项目：</label>
					</th>
					<td>
						<select class="projectId" name="projectId" v-model="operation.projectId" validator="min[1],required" validator-msg="请选择项目类型">
							<option value="">--请选择项目--</option>
							<option v-for="pro in projects" :value="pro.id">{{pro.name}}</option>
						</select>
					</td>
					<th>
						<label>上级权限：</label>
					</th>
					<td>
						<div class="tree-tip-wrap">
							<input type="text" class="parentName" v-model="operation.parentName" validator="gb.operationValidator,valempty" validator-on="gb.operationValidateTime" readonly />
							<input type="hidden" class="parentId" name="parentId" v-model="operation.parentId" readonly />
							<div class="tree-tip-div">
								<ul class="ztree tree-tip"></ul>
							</div>
						</div>
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">权限名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="operation.name" validator="maxlength[128],required" maxlength="128" />
					</td>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="operation.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">菜单：</label>
					</th>
					<td>
						[@e.radioEnum name="isMenu" enumName="YesNo" 
								tagAttr='{
									last: "validator=\'minlength[1],required\' validator-msg=\'请选择是否为菜单\'",
									all: "v-model=\'operation.isMenu.className\'"
								}'/]
					</td>
					<th>
						<label>地址：</label>
					</th>
					<td>
						<input type="text" name="url" v-model="operation.url" validator="maxlength[128],gb.existUrl" maxlength="128" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label>图标 ：</label>
					</th>
					<td>
						<input type="text" name="icon" v-model="operation.icon" validator="maxlength[128]" maxlength="128" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label>描述：</label>
					</th>
					<td colspan="3">
						<textarea name="description" v-model="operation.description" validator="maxlength[512]" maxlength="512"></textarea>
					</td>
				</tr>
				
				<tr>
					<th>
						<label>备注：</label>
					</th>
					<td colspan="3">
						<textarea name="remark" v-model="operation.remark" validator="maxlength[512]" maxlength="512"></textarea>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
[#include "/WEB-INF/common/scripts.html"/]
[@e.script src="/js/??user/operation.js" /]
</body>
</html>