[#include "/WEB-INF/common/core.ftl"/]
<!DOCTYPE HTML>
<html>
<head>
[#include "/WEB-INF/common/meta.html"/]
<title>EasyCode | 角色</title>
[#include "/WEB-INF/common/styles.html"/]
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	[#include "/WEB-INF/common/header.html"/]
	
	[#include "/WEB-INF/common/left.html"/]
	
	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				角色 <small>角色</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Tables</a></li>
				<li class="active">Simple</li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					
					<form class="form-inline search words4" action="/role/list.html" method="post">
					
						<div class="form-group">
							<label>角色名：</label>
							<input type="text" class="form-control" name="name" value="${role.name}" />
						</div>
						
						<div class="form-group">
							<label>状态：</label>
							[@e.radioEnum labelClass="radio-inline" name="status" enumName="CloseStatus" 
									selectedValue=role.status exclude="DELETE" /]
						</div>
						
						<div class="form-btns">
							<button type="button" class="toggle-icon hidden">展开/收起</button>
							<button type="submit" class="btn btn-default">查询</button>
	                       	<button type="reset" class="reset-btn btn btn-default">清空</button>
						</div>
                       	
                       	<div class="fun-btns">
                       		[@permited value="role/add"]
                        		<button type="button" id="addBtn" class="btn btn-default">+ 新增</button>
                        	[/@permited]
                        	[@permited value="role/remove"]
                        		<button type="button" class="btn btn-default" onclick="gb.batchRemove('/role/remove.html')">删除</button>
                        	[/@permited]
                        	[@permited value="role/openClose"]
                        		<div class="btn-group">
		                        	<button type="button" class="handler switch-open batch btn btn-default">启用</button>
									<button type="button" class="handler switch-close batch btn btn-default">禁用</button>
								</div>
							[/@permited]
                       	</div>
					</form>
					
					[#-- 列表信息区域 --]
					<div class="data-div">
							<table class="ui-table">
								<tr class="th-row">
									<th width="30" checkbox="true"></th>
									<th width="40" row-no="true">序号</th>
									<th width="100">角色名</th>
									<th width="40">排序值</th>
									<th width="80" fixed="true" no-tip="true">启动/禁用</th>
									<th width="100">描述</th>
									<th width="100">创建人</th>
									<th width="100">创建时间</th>
									<th width="150" fixed="true" no-tip="true">操作</th>
								</tr>
								
								[#list dataPage.data as obj]
									[#-- trid 方便快速选择某行 --]
									<tr trid="${obj.id}">
										<td><input type="checkbox" name="ids" value="${obj.id}" /></td>
										<td>${obj_index + 1}</td>
										<td>${obj.name}</td>
										<td>${obj.sort}</td>
										<td>
											[#if obj.status.className == "OPEN"]
												<div class="handler switch-close yes status" />
											[#elseif obj.status.className == "CLOSE"]
												<div class="handler switch-open no status" />
											[/#if]
										</td>
										<td>${obj.description}</td>
										<td>[@e.convertId cid=obj.creator prop="realname || nickname" /]</td>
										<td>${obj.createTime?datetime}</td>
										<td>
											[@permited value="role/load"]
												<a class="loadBtn icon-btn icon-detail" data-id="${obj.id}" title="详情" href="javascript:" > </a>
											[/@permited]
											[@permited value="role/update"]
												<a class="updBtn icon-btn icon-edit" data-id="${obj.id}" title="修改" href="javascript:" > </a>
											[/@permited]
											[@permited value="role/remove"]
												<a class="icon-btn icon-del" href="javascript:gb.remove('/role/remove.html', '${obj.id}');" title="删除" > </a>
											[/@permited]
											[@permited value="operation/addOperationsOfRole"]
												<a class="cfgOpsBtn icon-btn icon-cfg" data-id="${obj.id}" title="配置权限" href="javascript:" > </a>
											[/@permited]
										</td>
									</tr>
								[/#list]
								
							</table>
						</div>
					
					[#-- 分页区域 --]
					<div class="page">
						[@e.page pageNo=dataPage.pageNo totalPage=dataPage.totalPage
								url="/role/list.html" showPageNum="5" cssClass="pagnation" /]
					</div>
					
				</div>
			</div>
		</section>
	</div>
	
	[#include "/WEB-INF/common/footer.html"/]
	
	[#include "/WEB-INF/common/control-sidebar.html"/]
	
	<!-- 模板页 -->
	<div id="tmpls">
		[#include "/WEB-INF/pages/user/role_load.html"/]
		
		<!-- 新增 -->
		<form id="addDialog" class="form-validate hidden" action="/role/add.json" data-suc="新增角色成功" data-fail="新增角色失败">
			<table class="table-edit">
				<tr>
					<th>
						<label class="required">角色名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="role.name" validator="maxlength[32],required,gb.existName" maxlength="32" />
					</td>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="role.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">状态：</label>
					</th>
					<td>
						[@e.radioEnum name="status" enumName="CloseStatus" exclude="DELETE" 
								tagAttr='{
									last: "validator=\'minlength[1],required\' validator-msg=\'请选择状态\'",
									all: "v-model=\'role.status.className\'"
								}'/]
					</td>
				</tr>
				
				<tr>
					<th>
						<label>描述：</label>
					</th>
					<td colspan="3">
						<textarea name="description" v-model="role.description" validator="maxlength[512]" maxlength="512"> </textarea>
					</td>
				</tr>
				
				<tr>
					<th>
						<label>备注：</label>
					</th>
					<td colspan="3">
						<textarea name="remark" v-model="role.remark" validator="maxlength[512]" maxlength="512"> </textarea>
					</td>
				</tr>
			</table>
		</form>
		
		<!-- 修改 -->
		<form id="updDialog" class="form-validate hidden" action="/role/update.json" data-suc="更新角色成功" data-fail="更新角色失败">
		
			<input type="hidden" name="id" v-model="role.id" />
			
			<table class="table-edit">
				<tr>
					<th>
						<label class="required">角色名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="role.name" validator="maxlength[32],required,gb.existName" maxlength="32" />
					</td>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="role.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label>描述：</label>
					</th>
					<td colspan="3">
						<textarea name="description" v-model="role.description" validator="maxlength[512]" maxlength="512"></textarea>
					</td>
				</tr>
				
				<tr>
					<th>
						<label>备注：</label>
					</th>
					<td colspan="3">
						<textarea name="remark" v-model="role.remark" validator="maxlength[512]" maxlength="512"></textarea>
					</td>
				</tr>
			</table>
		</form>
		
	</div>
</div>
	
[#include "/WEB-INF/common/scripts.html"/]
[@e.script src="/js/??user/role.js" /]
</body>
</html>