<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	
	<Properties>
		<Property name="log.basepath">/data/logs/app/cas</Property>
	</Properties>
	
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n" />
        </Console>
        
        <RollingFile name="FILE" fileName="${log.basepath}/app.log" append="true"
                     filePattern="${log.basepath}/app-%d{yyyy-MM-dd}.(%i).log">
            <!-- ThresholdFilter的验证规则是等于level或大于level则onMatch -->
            <ThresholdFilter level="INFO" onMatch="NEUTRAL" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        
        <RollingFile name="perfFile" fileName="${log.basepath}/perfStats.log" append="true"
                     filePattern="${log.basepath}/perfStats-%d{yyyy-MM-dd}.(%i).log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        
    </Appenders>
    
    <Loggers>
        <Logger name="perfStatsLogger" level="info" additivity="false">
            <AppenderRef ref="perfFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
            <!-- <AppenderRef ref="FILE"/> -->
        </Root>
    </Loggers>
</Configuration>
