/* CSS Document by cchen*/
@charset "utf-8";
/* 引入FA */
@import url('font-awesome.min.css');
/* 公共样式 */
body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}

ol, ul{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:12px;}
html { -webkit-text-size-adjust:none;  word-break:break-all; }
body { font-size:12px; font-family:"helvetica neue",helvetica,"hiragino sans gb",arial,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",sans-serif;  color:#666; background:#fff; line-height:1; }
body.whiteBG{ background:#fff;}
body.grayBG{ background:#f6f7f8;}
body.f4BG{ background:#f4f4f5;}

*::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 4px;
    height: 4px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 93, 179, 1);
    border-radius: 4px;
}
*::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,0);
}
*::selection{background-color:rgba(0, 93, 179, 1); color:#fff;}
/*a 链接*/
a {
	color: inherit;
	text-decoration:none;
	outline:none;
	-webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
a:hover{text-decoration:underline; color:#0093cf;}

/*
a { text-decoration:none; outline:none;}
a:link { color:#666666; }
a:visited { color:#666666; }
a:hover, a:active, a:focus { color:#00b6e1;}
*/

/*图片居中*/
.jzimg { display:table-cell; *display:block; overflow:hidden; font:0px/0px 'Arial'; text-align:center; vertical-align:middle;}
fieldset, img { border:0; vertical-align:middle}

.jzimg img,.jzimg i{vertical-align:middle; max-width:100%; max-height:100%;}
.jzimg i{height:100%; display:inline-block;}

img{ max-width:100%; max-height:100%;}
/*浮动*/
.fl {float:left; display:inline}
.fr {float:right; display:inline}
.clear { clear:both}
.clearfix { *zoom:1;}
.clearfix:after{     content: ""; display: table; clear: both;}




/* HTML5 重置为较旧版本的浏览器 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse: collapse; border-spacing: 0; }

/* 按钮样式 */
input, button, textarea, select { font-size:100%; outline:none; resize:none; border:none;font-family:"helvetica neue",helvetica,"hiragino sans gb",arial,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",sans-serif; vertical-align:middle;}
input[type="button"]{cursor:pointer; border:0}
input[type="submit"]{cursor:pointer; border:0}
input[type="reset"]{cursor:pointer; border:0}

.button{ border-radius:4px;}
a.button{ display:inline-block;}
a.button:hover{text-decoration:none;}


/*删除火狐下按钮默认样式*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{ border:none; padding:0; }


/*字体大小、缩进*/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.t2{text-indent:2em;}

/*通用标签*/
.vam{ vertical-align:middle;}
.no_warp{white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.page_container{ width:1200px; margin:0 auto;}
.hidden{ display: none !important;}
.no_pointer{pointer-events: none;}
.two_line{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}


/*-----公共部分页面样式-------*/
html{height:100%;}
body{height:100%;}
#page{ min-height:100%; margin-bottom:-108px;}/*footer:height = 68*/
#page:after{ content:''; display:block; clear:both; height:108px; width:100%;}
#page article{ *padding-bottom:108px;}

#page1{ min-height:100%; margin-bottom:-176px;}/*footer:height = 68*/
#page1:after{ content:''; display:block; clear:both; height:176px; width:100%;}
#page1 article{ *padding-bottom:176px;}

/* footer */
footer{text-align:center; padding:30px 0; line-height:24px;}
footer p a{ margin:0 5px;}
footer.indigo{ background:#192e41; color:#fff;}
footer.indigo a{ color:#fff;}
footer.black{ background:#282b2e; color:#fff;}
footer.black a{ color:#fff;}
footer.blue{ background:#0071c5; color:#fff;}
footer.blue a{ color:#fff;}
