[#include "/WEB-INF/common/core.ftl"/]
<!DOCTYPE HTML>
<html>
<head>
[#include "/WEB-INF/common/meta.html"/]
<title>EasyCode | 项目</title>
[#include "/WEB-INF/common/styles.html"/]
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	[#include "/WEB-INF/common/header.html"/]
	
	[#include "/WEB-INF/common/left.html"/]
	
	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				项目 <small>项目</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Tables</a></li>
				<li class="active">Simple</li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					
					<div id="core-div">
						[#-- 查询区域 --]
						<div class="control">
							<form action="/project/list.html" method="post">
								<ul class="search">
									
									<li class="param-li">
										项目名：<input type="text" name="name" value="${project.name}" />
									</li>
									
									<li class="param-li">
										项目编号：<input type="text" name="projectNo" value="${project.projectNo}" />
									</li>
									
									<li class="param-li">
										状态：[@e.radioEnum name="status" enumName="CloseStatus" 
												selectedValue=project.status exclude="DELETE" /]
									</li>
									
									[#-- 查询按钮 --]
									<li class="search-btns">
			                        	<button type="submit" class="common-submit btn blue-btn">查询</button>
			                        	<button type="reset" class="reset-btn btn blue-btn">清空</button>
									</li>
			                        
									[#-- 功能按钮区域 --]
									<li class="handle-btns">
										[@permited value="project/add"]
				                        	<button type="button" id="addBtn" class="btn">+ 新增</button>
				                        [/@permited]
				                        [@permited value="project/remove"]
				                        	<button type="button" class="btn" onclick="gb.batchRemove('/project/remove.html')">删除</button>
				                        [/@permited]
				                        [@permited value="project/openClose"]
				                        	<button type="button" class="handler open batch btn">启用</button>
											<button type="button" class="handler close batch btn">禁用</button>
										[/@permited]
									</li>
								</ul>
							</form>	
						</div>
						
						[#-- 列表信息区域 --]
						<div class="data-div">
							<table class="ui-table">
								<tr class="th-row">
									<th width="30" checkbox="true"></th>
									<th width="40" row-no="true">序号</th>
									<th width="100">项目名</th>
									<th width="100">项目编号</th>
									<th width="40">排序值</th>
									<th width="80" fixed="true" no-tip="true">启动/禁用</th>
									<th width="100">备注</th>
									<th width="100">创建人</th>
									<th width="100">创建时间</th>
									<th width="130" fixed="true" no-tip="true">操作</th>
								</tr>
								
								[#list dataPage.data as obj]
									[#-- trid 方便快速选择某行 --]
									<tr trid="${obj.id}">
										<td><input type="checkbox" name="ids" value="${obj.id}" /></td>
										<td>${obj_index + 1}</td>
										<td>${obj.name}</td>
										<td>${obj.projectNo}</td>
										<td>${obj.sort}</td>
										<td>
											[#if obj.status.className == "OPEN"]
												<div class="handler close yes status" />
											[#elseif obj.status.className == "CLOSE"]
												<div class="handler open no status" />
											[/#if]
										</td>
										<td>${obj.remark}</td>
										<td>[@e.convertId cid=obj.creator prop="realname || nickname" /]</td>
										<td>${obj.createTime?datetime}</td>
										<td>
											[@permited value="project/load"]
												<a class="loadBtn icon-btn icon-detail" data-id="${obj.id}" title="详情" href="javascript:" > </a>
											[/@permited]
											[@permited value="project/update"]
												<a class="updBtn icon-btn icon-edit" data-id="${obj.id}" title="修改" href="javascript:" > </a>
											[/@permited]
											[@permited value="project/remove"]
												<a class="icon-btn icon-del" href="javascript:gb.remove('/project/remove.html', '${obj.id}');" title="删除" > </a>
											[/@permited]
										</td>
									</tr>
								[/#list]
								
							</table>
						</div>
					</div>
					[#-- 分页区域 --]
					<div class="page">
						[@e.page pageNo=dataPage.pageNo totalPage=dataPage.totalPage
								url="/project/list.html" showPageNum="5" cssClass="pagnation" /]
					</div>
					
				</div>
			</div>
		</section>
	</div>
	
	[#include "/WEB-INF/common/footer.html"/]
	
	[#include "/WEB-INF/common/control-sidebar.html"/]
	
	<!-- 模板页 -->
	<div id="tmpls">
		[#include "/WEB-INF/pages/sys/project_load.html"/]
		
		<!-- 新增 -->
		<form id="addDialog" class="form-validate hidden" action="/project/add.json" data-suc="新增项目成功" data-fail="新增项目失败">
			<table class="table-edit">
				<tr>
					<th>
						<label class="required">项目名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="project.name" validator="maxlength[32],required,gb.existName" maxlength="32" />
					</td>
					<th>
						<label class="required">项目编号：</label>
					</th>
					<td>
						<input type="text" name="projectNo" v-model="project.projectNo" validator="maxlength[32],required,gb.existProjectNo" maxlength="32" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="project.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
					<th>
						<label class="required">状态：</label>
					</th>
					<td>
						[@e.radioEnum name="status" enumName="CloseStatus" exclude="DELETE" 
								tagAttr='{
									last: "validator=\'minlength[1],required\' validator-msg=\'请选择状态\'",
									all: "v-model=\'project.status.className\'"
								}'/]
					</td>
				</tr>
				
				<tr>
					<th>
						<label>备注：</label>
					</th>
					<td colspan="3">
						<textarea name="remark" v-model="project.remark" validator="maxlength[512]" maxlength="512"> </textarea>
					</td>
				</tr>
			</table>
		</form>
		
		<!-- 修改 -->
		<form id="updDialog" class="form-validate hidden" action="/project/update.json" data-suc="更新项目成功" data-fail="更新项目失败">
		
			<input type="hidden" name="id" v-model="project.id" />
			
			<table class="table-edit">
				<tr>
					<th>
						<label class="required">项目名：</label>
					</th>
					<td>
						<input type="text" name="name" v-model="project.name" validator="maxlength[32],required,gb.existName" maxlength="32" />
					</td>
					<th>
						<label class="required">项目编号：</label>
					</th>
					<td>
						<input type="text" name="projectNo" v-model="project.projectNo" validator="maxlength[32],required,gb.existProjectNo" maxlength="32" />
					</td>
				</tr>
				
				<tr>
					<th>
						<label class="required">排序值：</label>
					</th>
					<td>
						<input type="text" name="sort" v-model="project.sort" validator="num,max[999999999],required" maxlength="9" />
					</td>
					<th>
						<label class="required">状态：</label>
					</th>
					<td>
						[@e.radioEnum name="status" enumName="CloseStatus" exclude="DELETE" 
								tagAttr='{
									last: "validator=\'minlength[1],required\' validator-msg=\'请选择状态\'",
									all: "v-model=\'project.status.className\'"
								}'/]
					</td>
				</tr>
				
				<tr>
					<th>
						<label>备注：</label>
					</th>
					<td colspan="3">
						<textarea name="remark" v-model="project.remark" validator="maxlength[512]" maxlength="512"></textarea>
					</td>
				</tr>
			</table>
		</form>
		
	</div>
</div>
	
[#include "/WEB-INF/common/scripts.html"/]
[@e.script src="/js/??sys/project.js" /]
</body>
</html>