<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">

	<!-- 配置shiroFilter的filterChainDefinitions属性文件 -->
	<import resource="shiro-filterChain.xml"/>

	<bean id="casFilter" class="com.easycodebox.login.util.DefaultCasFilter">
		<!-- 配置验证错误时的失败页面 -->
		<property name="failureUrl" value="${failure.url}" />
		<!-- 验证错误后显示登录页面，并提示错误信息。只试用于ErrorContext异常 -->
		<property name="reloginUrl" value="${cas.login.full}&amp;msg={0}" />
		<property name="logoutUrl" value="${cas.logout}" />
		<property name="weaveName" value="loginSucWeave" />
	</bean>
	<bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
		<property name="redirectUrl" value="${cas.logout}?service=${cas.logout.callback}" />
	</bean>
	<bean id="urlFilter" class="com.easycodebox.login.util.UrlAuthorizationFilter" />
	<bean id="authFilter" class="com.easycodebox.login.util.DefaultFormAuthenticationFilter" />
	<bean id="senseLoginFilter" class="com.easycodebox.login.util.SenseLoginFilter" />
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="${cas.login.full}" />
		<property name="unauthorizedUrl" value="${unauthorized.url}" />
		<property name="filters">
			<util:map>
				<!-- 添加casFilter到shiroFilter -->
				<entry key="casFilter" value-ref="casFilter" />
				<entry key="logoutFilter" value-ref="logoutFilter" />
				<entry key="authFilter" value-ref="authFilter" />
				<entry key="urlFilter" value-ref="urlFilter" />
				<entry key="sense" value-ref="senseLoginFilter" />
			</util:map>
		</property>
        <property name="filterChainDefinitions" ref="filterChainDefinitions" />
	</bean>
	
	<bean id="casRealm" class="com.easycodebox.login.util.DefaultCasRealm">
		<property name="casServerUrlPrefix" value="${cas.url}" />
		<!-- 客户端的回调地址设置，必须和下面的shiro-cas过滤器拦截的地址一致 -->
		<property name="casService" value="${cas.login.callback}" />
	</bean>
	
	<!-- 如果要实现cas的remember me的功能，需要用到下面这个bean，并设置到securityManager的subjectFactory中 -->
	<bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory" />
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="casRealm" />
		<property name="subjectFactory" ref="casSubjectFactory"/>
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>
    
    <!-- <bean name="ticketValidationFilter" class="org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter" >
        <property name="redirectAfterValidation" value="true" />
        <property name="serverName" value="${cas.login.callback}" />
        <property name="ticketValidator">
            <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <constructor-arg index="0" value="${cas.url}" />
                <property name="encoding" value="UTF-8" />
            </bean>
        </property>
    </bean> -->

</beans>