<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 配置shiroFilter的filterChainDefinitions属性文件 -->
	<import resource="shiro-filterChain.xml"/>
	
	<!-- 操作SecurityInfo -->
	<bean id="securityInfoHandler" class="com.easycodebox.login.shiro.ShiroSecurityInfoHandler" />

	<!-- 
		failureUrl: 配置验证错误时的失败页面
		reloginUrl: 验证错误后显示登录页面，并提示错误信息。只试用于ErrorContext异常
	 -->
	<bean id="casFilter" class="com.easycodebox.login.shiro.filter.DefaultCasFilter" 
		p:failureUrl="${failure.url}"
		p:reloginUrl="${cas.login.full}&amp;msg={0}"
		p:logoutUrl="${cas.logout}"
		p:weaveName="loginSucWeave" />
		
	<bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter" 
		p:redirectUrl="${cas.logout}?service=${cas.logout.callback}" />
		
	<bean id="perms" class="com.easycodebox.login.shiro.filter.DefaultPermissionsAuthorizationFilter" />
	<bean id="authc" class="com.easycodebox.login.shiro.filter.DefaultFormAuthenticationFilter" />
	<bean id="sense" class="com.easycodebox.login.shiro.filter.SenseLoginFilter" />
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"
		p:securityManager-ref="securityManager"
		p:loginUrl="${cas.login.full}"
		p:unauthorizedUrl="${unauthorized.url}"
		p:filterChainDefinitions-ref="filterChainDefinitions" />
	
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO"
		p:activeSessionsCacheName="sessionsCache" />
	<!-- 修改Session保存到Cookie中的Key值，JSESSIONID 修改为 sid，解决使用Web容器Session时出现302重定向循环问题  -->
	<!-- 
		<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie"
			p:name="sid" />
	-->
	<!-- 
		注：此处应该禁用shiro提供的定时器功能（sessionManager.sessionValidationSchedulerEnabled = false）。 
		两个替换方案：1）缓存自提供的TTL，这个TTL值必须由程序端控制，即与shiro的session timeout值一致  2）定时器独立于当前项目之外运行
		interval: 3600000 = 1小时校验一次session，检查session是否过期
	-->
	<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler"
		p:interval="3600000" />
		
	<!-- 
		globalSessionTimeout: Session Timeout 30分钟
		可以增加配置p:sessionIdCookie-ref="sessionIdCookie" 使用自定义cookie key
	 -->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager"
		p:globalSessionTimeout="1800000"
		p:sessionDAO-ref="sessionDAO"
		p:sessionValidationScheduler-ref="sessionValidationScheduler" />
	
	<bean id="securityCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"
		p:cacheManager-ref="nativeEhcacheManager" />
	<!-- String类型转换成Permission类型 -->
	<bean id="urlWildcardPermissionResolver" class="com.easycodebox.login.shiro.permission.UrlWildcardPermissionResolver" />
	<!-- 
		casService: 客户端的回调地址设置，必须和下面的shiro-cas过滤器拦截的地址一致
	 -->
	<bean id="casRealm" class="com.easycodebox.login.shiro.realm.DefaultCasRealm"
		p:permissionResolver-ref="urlWildcardPermissionResolver"
		p:casServerUrlPrefix="${cas.url}"
		p:casService="${cas.login.callback}"
		p:roleAttributeNames="roles"
		p:permissionAttributeNames="operations" />
		
	<!-- 如果要实现cas的remember me的功能，需要用到下面这个bean，并设置到securityManager的subjectFactory中 -->
	<bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory" />
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"
		p:sessionManager-ref="sessionManager"
		p:cacheManager-ref="securityCacheManager"
		p:realm-ref="casRealm"
		p:subjectFactory-ref="casSubjectFactory" />

	<!-- ======================================================================================= -->
	<!-- 让spring管理的bean支持@RequiresPermissions、 @RequiresRoles等权限验证注解 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor" />
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor"
		p:securityManager-ref="securityManager" />
	
	<!-- ======================================================================================= -->
    <!-- 
    	<bean name="ticketValidationFilter" class="org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter"
    		p:redirectAfterValidation="true"
    		p:serverName="${cas.login.callback}">
	        <property name="ticketValidator">
	            <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
	                <constructor-arg index="0" value="${cas.url}" />
	                <property name="encoding" value="UTF-8" />
	            </bean>
	        </property>
	    </bean> 
   	-->

</beans>