
/***********   公用      ****************/
select {width:152px;border: 1px solid #cdcdcd;height: 32px;padding: 3px 5px;line-height: 32px;border-radius: 3px;vertical-align: middle;}
input[type="text"],input[type="password"] {width: 140px;border: 1px solid #cdcdcd;height: 24px;padding: 3px 5px;line-height: 24px;border-radius: 3px;vertical-align:middle;}
input[type="checkbox"],input[type="radio"] {vertical-align: middle;}

.required {padding: 0 0 0 6px;background: url('../imgs/util/asterisk.png') no-repeat 0 center;}

.uploaddialog li{margin-bottom:10px}
.uploaddialog li span{float:left;line-height:32px}
.uploaddialog li select{float:left; *+margin-top:5px; margin-bottom:5px; margin-left:4px}

/*============ 上传图片样式 ==============*/
.uploadPicDiv { border: 1px dashed #FF9900; color: #999999; height: 150px; position: relative; width: 150px; }
.uploadTitle { width: 100%; height: 100%; position: absolute; top: 0; background: url('../imgs/util/upload.png') no-repeat center center; }

/*============ 修改layer样式，因form验证的提示信息不好显示  ==============*/
.layui-layer-page .layui-layer-content { overflow: visible !important; }

