/*============ 重写AdminLTE.css - 解决刷新页面时底部空白问题  ==============*/
html, body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.content-wrapper {
	flex-grow: 1;
}
/*============ popover 调整背景色  ==============*/
.popover.blue-popover {
  background-color: #3c8dbc;
  border: 1px solid #3884b1;
}
.blue-popover .popover-title {
  background-color: #367fa9;
  border-bottom: 1px solid #ebebeb;
}
.popover.blue-popover.top > .arrow {
  border-top-color: #999;
}
.popover.blue-popover.top > .arrow:after {
  border-top-color: #3c8dbc;
}
.popover.blue-popover.right > .arrow {
  border-right-color: #999;
}
.popover.blue-popover.right > .arrow:after {
  border-right-color: #3c8dbc;
}
.popover.blue-popover.bottom > .arrow {
  border-bottom-color: #999;
}
.popover.blue-popover.bottom > .arrow:after {
  border-bottom-color: #3c8dbc;
}
.popover.blue-popover.left > .arrow {
  border-left-color: #999;
}
.popover.blue-popover.left > .arrow:after {
  border-left-color: #3c8dbc;
}
/* 搜索表单 */
.search {
    font-size: 0;
}
.search div {
    font-size: 14px;
}
.search .form-group {
    width: 13.5em;
    padding: 4px 0;
    overflow: hidden;
}
.search.words4 .form-group {
    width: 14.5em;
}
.search.words5 .form-group {
    width: 15.5em;
}
.search label {
	font-weight: normal;
}
.search .form-group > label:first-child {
    text-align: right;
    width: 3em;
}
.search.words4 .form-group > label:first-child {
    width: 4em;
}
.search.words5 .form-group > label:first-child {
    width: 5em;
}
.search .form-group > label:first-child + * {
    margin-left: -.3em;
}
.search .form-group input,
.search .form-group select,
.search .form-group .bootstrap-select:not([class*="col-"]) {
    width: 10em;
}
.search .form-group input[type="radio"],
.search .form-group input[type="checkbox"] {
    width: auto;
}
.search .form-btns {
	padding: 4px 0;
	display: inline-block;
	vertical-align: middle;
}
/***** 搜索区域的 展开/收起 功能样式  *******/
.toggle-icon {
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
    width: 30px;
    text-align: center;
}
.toggle-icon:hover {
    font-size: 20px;
    transition: transform 0.2s;
    transform: rotate(360deg);
}
/* 功能按钮区域 */
.search .fun-btns {
	float: right;
	padding: 4px 0;
	display: inline-block;
	vertical-align: middle;
}
/*============新增、修改表格样式  ============*/
table.table-edit>tbody>tr>th {text-align: right; padding: 8px 0 8px 14px; min-width: 60px;}
table.table-edit>tbody>tr>td {text-align: left; padding: 8px 14px 8px 10px; width: 170px;}
table.table-edit label {margin-bottom: 0; font-weight: normal;}
table.table-edit label.required::before {color: red; content: " \2732 ";}
table.table-edit textarea {height: 100px;}
/*============ 修改layer样式，因form验证的提示信息不好显示  ==============*/
.layui-layer-page .layui-layer-content { overflow: visible !important; }
/*============ switch  ==============*/
.yes{background:url('../imgs/util/check-yes.png') no-repeat;cursor: pointer;height: 20px;margin: 0 auto;width: 50px;}
.no{background:url('../imgs/util/check-no.png') no-repeat;cursor: pointer;height: 20px;margin: 0 auto;width: 50px;}
/*============ 上传图片样式 ==============*/
.uploadPicDiv { border: 1px dashed #FF9900; color: #999999; height: 150px; position: relative; width: 150px; }
.uploadTitle { width: 100%; height: 100%; position: absolute; top: 0; background: url('../imgs/util/upload.png') no-repeat center center; }
/*============ utils  ==============*/
.none {
	display: none;
}

