<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false"/>
		<!-- 查询结果支持嵌套属性赋值,默认不支持（PARTIAL） -->
		<setting name="autoMappingBehavior" value="FULL" />
	</settings>
	
	<typeAliases>
		<package name="com.easycodebox.auth.core.pojo"/>
	</typeAliases> 
	
	<typeHandlers>
		<typeHandler handler="com.easycodebox.auth.core.util.mybatis.EnumTypeHandler" />
	</typeHandlers>
	
	<mappers>
		<mapper resource="CommonMapper.xml"/>
	</mappers>
	
	
</configuration>
